*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

.navbar {
    background: #000;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
}

nav a:hover {
    color: royalblue;
    background-color: #eee;
    color: black;

}

article {
    background: url('../test1/img/IT_bg.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;

}

.logo {
    width: 200px;
    height: 200px;
    background-image: url('../test1/img/logo.png');
    background-size: cover;
}

.container {
    display: flex;
}

.Product{
    background-color: rgb(217, 217, 217);
    text-align: center;
}


section {
    flex: 70%;
}

.pic1 {
    width: 50%;
    height: 100%;
    border: 1px solid #000;
    float: left;
}

.pic2 {
    width: 50%;
    height: 100%;
    border: 1px solid #000;
    float: left;
}           

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}
table tr{
    border: 1px solid #000;
}

tr td a{
    text-align: left;
    text-decoration: none;
    color: black;
    padding: 20px 50px;
}

tr td a:hover{
    color: royalblue;
    background-color: #eee;
}

footer {
    height: 100px;
    background: #000;
    color: #fff;
    text-align: right;
}