*{
    margin: 0;
    padding: 0;
    font-family: "Playpen Sans Thai", cursive;
}
body{
    background-color: #85BF64;
}
table{
    background: #fff;
    margin: 150px auto;
    padding: 50px;
    box-shadow: 5px 5px 15px;
}
input[type="text"],input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border:none;
    background: #eee;
    font-size: 14px;
}
input[type="submit"]{
    width: 50%;
    padding: 10px;
    margin: 15px;
    border:none;
    background: #4b2cd3;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}
tr{
    height: 10px;
}
.not-registered{
    color: #888;
}
.not-registered a{
    text-decoration: none;
    color: skyblue;
}