* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    width: 100%;
    height: 300px;
}
.nav1{
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 20px;
}
.nav2{
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 75px;
}
div {
    float: left;
    width: 100%;
    height: 500px;
    background-color: #f0f0f0;
}

aside {
    float: left;
    width: 40%;
    height: 500px;
    background-image: url("../img/oia-uia.gif");
    ;
}

section {
    float: right;
    height: 500px;
    background: violet;
    width: 60%;

}

article {
    width: 100%;
    height: 300px;
    background-color: gray;

}

footer {
    clear: both;
    width: 100%;
    height: 100px;
    background-color: green;
}
circle {
    width: 200px;
    height: 200px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 9%;
    left: 10%;
}
nav li {
    float: left;
    margin: 25px;
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: white;
    line-height:50px;
}
nav li a:hover {
    color: red;
    display: block;
    background-color: blueviolet;
}